.header {
  width:100%;
  height: 80px;
  position:absolute;
  top:0;
  left:0;
  background-color:#181818;
}

.header-nav-container {
  width:100%;
  height: 80px;
  display: flex;
  max-width: 1280px;
}

.header-nav {
  width:100%;
  display: flex;
  align-items: center;
  /* flex-direction: row; */
}

.logo-container {
  /* justify-content: center; */
  /* flex-direction: column; */
}

.main-nav {
  visibility: hidden;
  opacity: 0;
  min-width: 400px; }
  .main-nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: center;
    padding: 0; }
      .main-nav ul li a {
        text-decoration: none;
        color: #ffffff; }
.icon-toggle img:last-child {
  display: none; }

.icon-toggle:hover img:first-child {
  display: none; }

.icon-toggle:hover img:last-child {
  display: inline-block; }

.toggle-nav {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear; }

.logo {
  /* color: var(--font-color); */
  color: white;
  font: 1em Arimo, sans-serif;
  font-weight: 100;
  letter-spacing: 0.06em;
  flex:auto;
  flex-grow: 3;
  padding-left: 50px;
 }

 .logo img {
    width: 15%;
    max-height: 40vh;
    min-width: 0;
 }

 .menu-item-photos {
  padding-right: 15px;
}

.menu-item-videos {
  padding-right: 15px;
}

.menu-item-photos .menu-item-videos {
  color: white;
}

.lines-button {
  margin-right: 10px;
  display: inline-block;
  padding: 1rem 0.5rem;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0.5rem; }
  .lines-button:hover {
    opacity: 1; }
    .lines-button:hover .lines:before {
      top: 0.58824rem; }
    .lines-button:hover .lines:after {
      top: -0.58824rem; }
  .lines-button:active {
    -webkit-transition: 0;
    transition: 0; }

.lines {
  display: inline-block;
  width: 2rem;
  height: 0.125rem;
  background-color: #9c9b9b;
  border-radius: 0.125rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  background-color: #595959; }
  .lines:before, .lines:after {
    display: inline-block;
    width: 2rem;
    height: 0.125rem;
    background-color: #9c9b9b;
    border-radius: 0.125rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.05rem center;
            transform-origin: 0.05rem center; }
  .lines:before {
    top: 0.5rem; }
  .lines:after {
    top: -0.5rem; }

.lines-button.arrow.close {
  -webkit-transform: scale3d(0.9, 0.9, 0.9);
          transform: scale3d(0.9, 0.9, 0.9); }

.lines-button.arrow.close .lines:before, .lines-button.arrow.close .lines:after {
  top: 0;
  width: 1.11111rem;
  background-color: #595959; }

.lines-button.arrow.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
          transform: rotate3d(0, 0, 1, 40deg); }

.lines-button.arrow.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
          transform: rotate3d(0, 0, 1, -40deg); }

.blinking-cursor {
  font-size: 1.2em;
  color: #403F3F;
  -webkit-animation: 2s blink step-end infinite;
          animation: 2s blink step-end infinite;
  padding-left: 2px; }

@keyframes "blink" {
  from, to {
    color: transparent; }
  50% {
    color: #787878; } }

@-webkit-keyframes "blink" {
  from, to {
    color: transparent; }
  50% {
    color: #787878; } }


.main-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 800px;
  padding-top:80px;
}

footer {
  /* width: 100%; */
  height: 80px;
  background-color: black;
}

html {
  font-family: Helvetica, sans-serif;
  color: #595959; }

body {
  display: flex;
  flex-direction: column;
  background: var(--color-secondary);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 800px;
}

.body-wrapper {
  width: 100%;
  /* margin: 20px 20px; */
}

.wrapper {
  display: flex;
  color: var(--font-color);
}

.content {
  font-size: 18px;
  align-self: center;
}

.the-header {
  display: flex;
  align-self: center;
}

.the-logo {
  align-self: flex-start;
  font-size: 24px;
}

.theme-switcher {
  background-image: var(--switcher-icon);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 2.2%;
}

.the-controls li {
  align-self: center;
}

.nav-item {
  display: flex;
  color: white;
  font-size: 14px;
}

.nav-item:hover {
  cursor: pointer;
  color:#fd6f53;
}

#welcome {
  display: block;
  padding-left: 65px;
}

#video, #bio {
  display: none;
}


 .inst-photos {
    padding: 0px;
 }

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.inst-photos li {
  height: 50vh;
  flex-grow: 3;
}

.inst-photos li img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}


@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}


@media (max-height: 480px) {
  li {
    height: 10vh;
  }
}


@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  img {
    max-height: 40vh;
    min-width: 0;
  }
  .logo img {
    width: 50%;
    max-height: 40vh;
    min-width: 0;
 }
}
.theme-light {
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #ffffff;
  --switcher-icon: url(images/day.png) ;
}
.theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
  --switcher-icon: url(images/day-dark.png) ;
}

#switch {
  cursor: pointer;
  height: 20px;
  width: 20px;
} 
.w3-animate-opacity{animation:opac 1.3s}@keyframes opac{from{opacity:0} to{opacity:1}}