/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background: #ececec;
}

.page {
  margin-top: 0;
  min-width: 340px;
  max-width: 1200px;
  margin: 0 auto;
  border-left: 3px solid white;
  border-right: 3px solid white;
  overflow: hidden;
}

.dotted {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.04), rgba(0,0,0,.04) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

/* Header*/
.site-header {
  height: 70px;
  background: #ececec;
  z-index: 3;
  opacity: .9;
  border-bottom: 3px solid white;
}

.icon-toggle img:last-child {
  display:none
}

.icon-toggle:hover img:first-child {
  display:none
}

.icon-toggle:hover img:last-child {
  display:inline-block;
}

.logo {
  float:left;
  text-transform: uppercase;
  padding-left: 2.5%;
  font: 1em Arimo, sans-serif;
  letter-spacing: 0.1em;
  line-height: 70px;
  color: #403F3F;
}

.icon-toggle {
  float:right;
  margin-right: 2.5%;
  padding-top: 18px;
}

/* Footer */
.site-footer {
  clear: both;
  height: 50px;
  background-color: #595959;
  text-align: right;
  border-top: 1px solid #96B2A2;
}

footer p {
  font: 0.9em "Avenir Next", Helvetica, Arial, sans-serif;
  padding-right: 2%;
  padding-top: 15px;
  color: #96B2A2;
}

/* Main content */
.intro, .intro2, .intro3 {
  border-bottom: 3px solid white;
}

.info, .info2, .info3, .content-1, .content-2 {
  margin-bottom: 100px;
  padding-top:100px;
}

.intro {
  background: url(main_img.png) bottom right no-repeat;
  background-position-y: 0px;
}

.intro2 {
  background-color: #595959;
}

.main-image > img {
  width: 100%;
  margin: 0 auto;
}

.intro3 {
  width: 100%;
  background: url(dots_background.png) bottom left no-repeat;
  background-position-y: 140px;
  background-position-x: 8%;
}

.intro .info {
  width: 35%;
  text-align: left;
  padding-left: 8%;
}

.intro h1, .intro2 h1, .intro3 h1{
  font: 1.6em "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  font-weight: 200;
}

.intro3 h1 {
  font: 1.6em "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: left;
}

.intro h2, .intro2 h2, .intro3 h2 {
  text-align: left;
  letter-spacing: 0.04em;
  font: 1.4em "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 1.4em;
}

.intro2 h2 {
  color: #B3B2B2;
}

.intro2 h1 {
  color: #96B2A2;
}

.intro3 .info3 {
  width: 45%;
  text-align: center;
  margin-left: 45%;
}

.skills {
  letter-spacing: 0.05em;
  padding-top: 20px;
  font: 1.1em "Avenir", Helvetica, Arial, sans-serif;
  font-weight: 200;
  padding-left: 6%;
}

.skills li {
  color: #96B2A2;
}

.bcgr-img {
  background: url(first_slide44.png) bottom left no-repeat;
  background-position-y: 40%;
}

.intro2 .content-1 {
  width: 29%;
  padding-left: 8%;
  float: left;
  background: #595959;
  text-align: left;
}

.intro2 .content-2 {
  width: 29%;
  float: right;
  background: #595959;
  padding-right: 8%;
}

/* Logos section */
.logos {
  width: 300%;
  padding-top: 30px;
  padding-bottom: 70px;
}

.logos li {
  float: left;
  margin-left: 0;
  text-decoration: none;
  list-style: none;
  height: 60px;
  opacity: 0.7;
}

.logos li:hover {
  cursor:pointer;
}

.nest-logo {
  width: 6%;
  background: url('../imgs/logos.png') no-repeat;
  background-size: 563%;
  background-position: 0% 60%;
}

.nest-logo:hover {
  width: 6%;
  background: url('../imgs/logos1.png') no-repeat;
  background-size: 563%;
  background-position: 0% 60%;
}

.wwn-logo {
  width: 6%;
  background: url('../imgs/logos.png') no-repeat;
  background-size: 563%;
  background-position: 19%;
}

.wwn-logo:hover {
  width: 6%;
  background: url('../imgs/logos1.png') no-repeat;
  background-size: 563%;
  background-position: 19%;
}

.utest-logo {
  width: 6%;
  background: url('../imgs/logos.png') no-repeat;
  background-size: 563%;
  background-position: 43%;
}

.utest-logo:hover {
  width: 6%;
  background: url('../imgs/logos1.png') no-repeat;
  background-size: 563%;
  background-position: 43%;
}

.track-logo {
  width: 6%;
  background: url('../imgs/logos.png') no-repeat;
  background-size: 563%;
  background-position: 67%;
}

.track-logo:hover {
  width: 6%;
  background: url('../imgs/logos1.png') no-repeat;
  background-size: 563%;
  background-position: 67%;
}

.gcircle-logo {
  width: 6%;
  background: url('../imgs/logos.png') no-repeat;
  background-size: 563%;
  background-position: 90%;
}

.gcircle-logo:hover {
  width: 6%;
  background: url('../imgs/logos1.png') no-repeat;
  background-size: 563%;
  background-position: 90%;
}

.minsk-logo {
  width: 6%;
  background: url('../imgs/logos.png') no-repeat;
  background-size: 563%;
  background-position: 112%;
}

.minsk-logo:hover {
  width: 6%;
  background: url('../imgs/logos1.png') no-repeat;
  background-size: 563%;
  background-position: 112%;
}

/* Blinking cursor header animation */
.blinking-cursor {
  font-size: 1.1em;
  color: #403F3F;
  -webkit-animation: 2s blink step-end infinite;
  -moz-animation: 2s blink step-end infinite;
  -ms-animation: 2s blink step-end infinite;
  -o-animation: 2s blink step-end infinite;
  animation: 2s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #787878;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #787878;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #787878;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #46c9b6;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #46c9b6;
  }
}


/* Media queries*/
@media screen and (max-width: 1080px) {
  .page {
    border-left: 2px solid white;
    border-right: 2px solid white;
  }

  .intro  {
    margin: 0px auto;
    text-align: left;
    padding-bottom: 0;
  }

  .intro .info {
    width: 50%;
    text-align: left;
  }

  .intro h1, .intro2 h1, .intro3 h1 {
    font: 1.4em "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .logos {
    width: 300%;
  }

  .intro3 {
    width: 100%;
    background: url(dots_background.png) bottom left no-repeat;
    background-position-y: 200px;
  }

  .intro h2, .intro2 h2, .intro3 h2 {
    font: 1.1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 0.04em;
    line-height: 2;
  }
}


@media screen and (max-width: 660px) {
  .page {
    border-left: 2px solid white;
    border-right: 2px solid white;
  }

  .info, .info2, .info3, .content-1, .content-2 {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .intro, .intro2, .intro3 {
    border-bottom: 2px solid white;
  }

  .intro h1, .intro2 h1, .intro3 h1 {
    font: 1.3em "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: 200;
  }

  .intro3 {
    width: 100%;
    background: #ececec;
  }

  .skills {
    letter-spacing: 0.05em;
    padding-top: 20px;
    font: 0.8em "Avenir", Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding-left: 6%;
  }

  .logos {
    width: 300%;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .intro h2, .intro2 h2, .intro3 h2 {
    font: 0.85em "Helvetica Neue", sans-serif;
    font-weight: 200;
    letter-spacing: 0.04em;
    line-height: 2;
  }

  .intro .info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-bottom: 0;
  }

  .intro2 {
    margin:0 auto;
  }

  .main3 .intro3 {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 0;
    margin: 50px auto;
  }

  .intro3 .info3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Clearing floats by applying clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
