.blinking-cursor {
  font-size: 1.2em;
  color: #403F3F;
  animation: 2s blink step-end infinite;
  padding-left: 2px;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #787878;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #787878;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00A86B;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #46c9b6;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #46c9b6;
  }
}
