h1 {
  color: $main-color;
}

#info, .info-2 {
  display: flex;
  justify-content: space-around;
  padding-top: $spacer;
  border-bottom: 1px solid $light-grey;
  padding-bottom: $spacer;
  ul li {
    padding-bottom: 10px;
  }
}

.facts,
.what-i-do,
.why-i-do  {
  // border-left: 1px solid $light-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facts h1, .what-i-do h1, .why-i-do h1 {
  color: $green;
  padding-bottom: $spacer/4;
}

.automation {
  display: flex;
  justify-content: flex-end;
  padding-top: $spacer;
  padding-bottom: $spacer;

  .animation img {
    width: 500px;
    border: 1px solid $green;
  }

  .description {
    padding-top: $spacer * 2;
    max-width: 460px;
    margin-right: $spacer * 2;
  }
}


#exp {
  line-height: 2em;
  padding-top: $spacer;
  padding-bottom: $spacer;
  .exp-header {
    padding-bottom: $spacer / 2;
  }
}

.colorize {
  color: $green;
}
