.maps {
  display: flex;
  justify-content: space-around;
  padding-top: $spacer;
  padding-bottom: $spacer;
  border-bottom: 1px solid $light-grey;
}

.usa,
.belarus {
  width: 50%;
  text-align: center;
}

.usa {
  border-right: 1px solid $light-grey;
  img {
  width: 60%;
  opacity: 0.5;
  }
}

.belarus img {
  opacity: 0.7;
  width: 38%;
}
