$transformicon-color:    #9c9b9b;
$main-color:             #595959;
$blue:                   #3d94be;
$light-grey:             #bbbbbb;
// $dark-grey:              #404040;
$dark-grey:              #262626;
$green:                  #00A86B;


// should be at the bottom of the file
$body-bg:                 #ececec;
